.app {
	display: grid;
	place-items: center;
	background-color: #dadbd3;
	height: 100vh;
}

.app_body {
	display: flex;
	flex-direction: column;
	background-color: #ededed;
	margin-top: -50px;
	height: 95vh;
	width: 95vw;
	box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
	
}

@media only screen and (min-width: 768px) {
	.app_body {
		flex-direction: row;
		border: solid red 4px;
		height: 90vh;
		width: 90vw;
	}
}
