.login {
	background-color: #f8f8f8;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.login_container {
	padding: 100px;
	text-align: center;
	background: rgb(255,221,48);
	background: linear-gradient(180deg, rgba(255,221,48,1) 0%, rgba(255,221,48,1) 51%, rgba(16,4,40,1) 51%, rgba(16,4,40,1) 100%);
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px rgba(0,0,0,0.12);
	
}

.login_container > img {
	object-fit: container;
	height: 100px;
	margin-bottom: 40px;
}

.login_buttons {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
	

.login_buttons > button {
	margin-top: 25px;
	font-size: 1em;
	text-transform: inherit !important;
	background-color: #FFDD30 !important; 
	color: black;
}

.login_bottom {
	position: relative;
	top: 3em;
}

.login_text {
	color:white;
}